:root {
    --header-color: #202132;
    --button-bg-color: #b7bdf8;
    --body-color: #181926;
    --button-bg-hover-color: #3d4160;
    --button-border-color: #a5adcb;
    --button-hover-border-color: #555a86;
    --text-color: #cad3f5;
}
body {
    font-family: 'JetBrains Mono', monospace;
}
body::-webkit-scrollbar {
    display: none;
}
.gallery-images{
    width: 100%;
    height: 280px !important;
    object-fit: cover;
}
.errorlist{
    margin: 2px;
    color: tomato;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size:30px;
}
.navbar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.login a{
    color: #0d6efd;
    background-color: #ffffff;
}
.footer{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    padding: 20px;
    color: #ffffff;
}
.git-hub{
    background-color: #202132;
    border-radius: 360px;
    border-width: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.fixed-pos{
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    position: sticky;
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: var(--body-color);
    }
    hr{
        color: var(--button-hover-border-color);
    }
    .bg-primary{
        background-color: var(--header-color) !important;
    }
    .btn-primary{
        background-color: var(--button-bg-color) !important;
        border-color: var(--button-border-color) !important;
    }
    .btn-primary:hover{
        background-color: var(--button-bg-hover-color) !important;
        color: #cad3f5 !important;
        border-color: var(--button-hover-border-color) !important;
    }
    .login a{
        color: white !important;
        background-color: #363a4f;
    }
    .login a:hover{
        background-color: var(--button-bg-hover-color) !important;
        color: #cad3f5 !important;
    }
    .nav-item a{
        color: var(--button-bg-color);
    }
    .nav-item a:hover{
        color: #ffffff !important;
    }   
    .active{ 
        background-color: var(--button-bg-color) !important;
        color:  #ffffff!important;
    }
    .active:hover{
        background-color: var(--button-bg-hover-color) !important;
        color: #cad3f5 !important;
    }
    .card{
        background-color: var(--header-color) !important;
    }
    .btn-outline-primary{
        border-color: var(--button-border-color) !important;
        color: var(--button-bg-color) !important;
    }
    .btn-outline-primary:hover{
        background-color: var(--button-bg-color) !important;
        color: #ffffff !important;
    }
    .modal-content{
        background-color: var(--header-color) !important;
        color: var(--text-color) !important;
    }
    .container h3{
        color: var(--button-bg-color) !important;
    }
    .footer{
        display: flex;
        flex-direction: column;
        margin-top: 100px;
        padding: 20px;
        color: var(--text-color);
    }
    .git-hub{
        background-color: #202132;
        border-radius: 360px;
        border-width: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    }
}