body {
    font-family: 'JetBrains Mono', monospace;
}
.gallery-images{
    width: 100%;
    height: 280px !important;
    object-fit: cover;
}
.errorlist{
    margin: 2px;
    color: tomato;
}
#brand-logo{
    display: flex;
    flex-direction: row;
}
.logo{
    display: flex;
    align-items: center;
}
.logo h1{
    font-size:30px;
}
.navbar{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}
.login a{
    color: #0d6efd;
}