{% extends 'base.html' %} <!--Kế thừa từ base.html-->
{% load static %} <!--Tải các file tĩnh lên từ folder static-->>
{% block title %} Home {% endblock title %}

{% block content %}

<!--Header -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        <div class="logo">
            <div>
                <a class="navbar-brand" href="#">
                    <img src="static/Logo/logo.png" alt="" width="50" height="50">
                </a>
            </div>
            <div>
                <h1 class="navbar-brand">Owl's Gallery</h1>   
            </div>
        </div>
        <div class="login">
            <a class="btn btn-primary me-2" href="">Login</a>
        </div>
    </div>
</nav>

<!--Navigation bar--> 
<section>
    <div class="container">
        <div class="row my-2 py-4">
            <div class="col-12 align-items-center">
                <!--Các chủ đề ảnh-->
                <ul class="nav nav-pills">
                    <!--Nếu chọn chủ đề là "ALl" thì trở về trang chủ và hiện trạng thái active-->
                    {% if selected_category == "All" %}
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="{% url 'home' %}">All</a>
                    </li>
                    {% else %} <!--Nếu không phải chủ đề "All" thì không hiện trạng thái active-->
                    <li class="nav-item text-color">
                        <a class="nav-link" aria-current="page" href="{% url 'home' %}">All</a>
                    </li>
                    {% endif  %}

                    <!--Với các chủ đề còn lại, nếu chọn vào chủ đề nào, thì chuyển tới chủ đề đó và hiển thị trạng thái active-->
                    {% for category in categories %}
                    {% if selected_category == category.title%}
                    <li class="nav-item">
                      <a class="nav-link active" href="?category={{category.title}}">{{category.title|title}}</a>
                    <li>
                    {% else %} <!--Nếu không phải chủ đề đang chọn thì không hiển thị trạng thái active-->
                    <li class="nav-item">
                        <a class="nav-link " href="?category={{category.title}}">{{category.title|title}}</a>
                      <li>
                    {% endif %} 
                    {% endfor %}
                    
                      <!--Nút thêm ảnh-->
                    <li class="ms-auto">
                        <a class="btn btn-primary px-4" href="{% url 'upload-image'%}">Add Image</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        
        <!--Images-->
        <div class="row">
            {% for object in object_list %} 
            <div class="col-4 my-2 d-flex">
                <div class="card">
                    <img src="{{ object.image.url }}" class="img-fluid gallery-images rounded-1" alt="">
                    <div class="card-body">
                      <a data-bs-toggle="modal" data-bs-target="#exampleModal_{{ object.id }}" href="#" class="btn btn-outline-primary px-4 btn">View Image</a>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal_{{ object.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="my-2 py-4 lead">
                            <img class = "rounded" style = "width: 100%;" src="{{ object.image.url }}" alt="">
                            <hr>
                        </div>
                        <p ms-2>{{ object.description }}</p>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<!--Footer-->
<footer class = "footer bg-primary navbar">
    <div class>
        <p>A project by OwlCoder</p>
    </div>
    <div class="link-logo">
        <div class="git-hub">
            <a href="https://github.com/daFoggo/Django-Image-Gallery">
                <img src="static/Logo/github-logo.png" width="30" height="30" alt="">
            </a>
        </div>
    </div>
</footer>
{% endblock content %}