{% extends 'base.html' %} <!--Kế thừa từ base.html-->
{% load static %} <!--Tải các file tĩnh lên từ folder static-->>
{% block title %} Home {% endblock title %}

{% block content %}

<!--Navigation bar-->
<section class="my-5">
    <div class="container">
        <div class="row my-2 py-4">
            <div class="col-12 align-items-center">
                <!--Các chủ đề ảnh-->
                <ul class="nav nav-pills">
                    <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="#">All</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Nature</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Building</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Sky and Cloud</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">The End</a>
                      </li>
                      <!--Nút thêm ảnh-->
                    <li class="nav-item ms-auto">
                        <a class="btn btn-primary px-4 btn" href="{% url 'upload-image'%}">Add Image</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <!--Images-->
        <div class="row">
            {% for object in object_list %}
            <div class="col-4 my-2 d-flex">
                <div class="card">
                    <img src="{{ object.image.url }}" class="img-fluid gallery-images" alt="">
                    <div class="card-body">
                      <a data-bs-toggle="modal" data-bs-target="#exampleModal_{{ object.id }}" href="#" class="btn btn-outline-primary px-4 btn">View Image</a>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="exampleModal_{{ object.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="my-2 py-4 lead">
                            <img style = "width: 100%;" src="{{ object.image.url }}" alt="">
                        </div>
                        <p ms-2>{{ object.description }}</p>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}