<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Login </title> 
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap">
  </head>

  <body>
    <div class="container"> 
      <div class="wrapper">
        <!--Tiêu đề-->
        <div class="title">-->
        <span>Dive into Owlfy</span>
        <img src="static/Logo/logo.png" alt="" width = 50px height = 50px>
        </div>

        <!--Form đăng nhập-->
        <form name="LoginForm" action="{% url 'login' %}" method="post">
          {% csrf_token %}
          <div class="row">
            <i class="fas fa-user"></i>
            <input type="username" id="id_username" name="username" placeholder="Email or Phone" required>
          </div>
          <div class="row">
            <i class="fas fa-lock"></i>
            <input type="password" id="id_password" name="password" placeholder="Password" required>
          </div>

          <!--Thông báo lỗi-->
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li class="{% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
          
          <!--Các liên kết khác-->
          <div class="pass"><a href="#">Forgot password?</a></div>
          <div class="row button">
            <input type="submit" value="Login">
          </div>
          <div class="signup-link">Don't have an account? <a href="{% url 'SignUp' %}">Sign up now</a></div>
        </form>
        
      </div>
    </div>

  </body>
</html>
