<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Sign Up</title>
        <link rel="stylesheet" href="{% static 'css/signup.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400;500;600;700&display=swap">
    </head>
    <body>
        <h1>SIGN UP</h1>
        <form method="POST">
            {% csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Submit">
        </form>
    </body>
</html>